<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1251">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
<fieldset form="form">
    <% if(typeof body ==="undefined"){ %>
    <% var body={}%>
    <% } %>
    <% if(typeof errors ==="undefined"){ %>
    <% var errors=null%>
    <% } %>
    <legend><%= __("Welcome to Form") %></legend>
    <form id="form" method="post" action="/submit">

        <table>
            <% if(errors){ %>
            <% for(var i in errors){ %>
            <tr>
                <td colspan="2" style="color:red">
                    <%= i+": " %><%= errors[i] %>
                </td>
            </tr>
            <% } %>
            <% } %>
            <tr>
                <td align="right"><%= __("username") %>:</td>
                <td align="left"><input type="text"  name="username" title="<%= __("username") %>" value="<%= body.username%>"></td>
            </tr>
            <tr>
                <td align="right"><%= __("password") %>:</td>
                <td align="left"><input type="password"  name="password" title="<%= __("password") %>"></td>
            </tr>
            <tr>
                <td align="right"><%= __("role") %>:</td>
                <td align="left"><select name="role" title="<%= __("role") %>" size="1" value="<%= body.role%>">
                        <option  <% if(body.role==="leading"){%>selected="selected" <% } %> value="leading"><%= __("leading") %></option>
                        <option <% if(body.role==="minor"){%>selected="selected" <% } %>  value="minor"><%= __("minor") %></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><%= __("projectType") %>:</td>
                <td align="left">
                    <label><input type=radio name="projectType" value="Music" <% if(body.projectType==="Music"){%>checked="checked" <% } %>><%= __("Music") %></label><br />
                    <label><input type=radio name="projectType" value="Animations" <% if(body.projectType==="Animations"){%>checked="checked" <% } %>><%= __("Animations") %></label><br />
                    <label><input type=radio name="projectType" value="Games"<% if(body.projectType==="Games"){%>checked="checked" <% } %>><%= __("Games") %></label><br />
                    <label><input type=radio name="projectType" value="Simulations" <% if(body.projectType==="Simulations"){%> checked="checked" <% } %>><%= __("Simulations") %></label><br />
                    <label><input type=radio name="projectType" value="Art" <% if(body.projectType==="Art"){%> checked="checked" <% } %>><%= __("Art") %></label><br />
                    <label><input type=radio name="projectType" value="Stories" <% if(body.projectType==="Stories"){%> checked="checked" <% } %>><%= __("Stories") %></label>
                </td>
            </tr>
            <tr>
                <td align="right"><%= __("languages") %>:</td>
                <td align="left">
                    <select name="languages" title="<%= __("languages") %>" size="5" multiple="multiple">
                        <option value="en" <% if(body.languages && body.languages.indexOf("en")!==-1){%>selected="selected" <% } %>><%= __("English") %></option>
                        <option value="de" <% if(body.languages && body.languages.indexOf("de")!==-1){%>selected="selected" <% } %>><%= __("Deutsch") %></option>
                        <option value="fr" <% if(body.languages && body.languages.indexOf("fr")!==-1){%>selected="selected" <% } %>><%= __("French") %></option>
                        <option value="uk" <% if(body.languages && body.languages.indexOf("uk")!==-1){%>selected="selected" <% } %>><%= __("Ukrainian") %></option>
                        <option value="ru" <% if(body.languages && body.languages.indexOf("ru")!==-1){%>selected="selected" <% } %>><%= __("Russian") %></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><%= __("email") %>:</td>
                <td align="left"><input type="email" name="email" title="<%= __("email") %>" value="<%= body.email%>"></td>
            </tr>
            <tr>
                <td align="right"><%= __("termsAndConditions") %>:</td>
                <td align="left"><label><input type="checkbox" name="termsAndConditions"  <% if(body.termsAndConditions){%>checked="checked" <% } %> title="<%= __("termsAndConditions") %>"><%= __("Agree") %></label></td>
            </tr>
        </table>
        <input class="button" type=submit value="<%= __("Register") %>">
    </form>
</fieldset>
<br />
<br />
<a class="buttonlng"  href="?lang=en">en</a>
<a class="buttonlng"  href="?lang=de">de</a>
<a class="buttonlng"  href="?lang=fr">fr</a>
<a class="buttonlng"  href="?lang=uk">uk</a>
<a class="buttonlng"  href="?lang=ru">ru</a>
</body>
</html>
