<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />  <meta name="description" content="<%= __("invite") %>" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href="/javascripts/vendor/bootstrap/less/bootstrap.css" rel="stylesheet">
    <title><%= __("Title") %></title>
    <script type="text/javascript" src="/javascripts/vendor/requirejs/require.js"></script>
    <script type="text/javascript" src="/javascripts/require-config.js"></script>
    <script type="text/javascript">
        require(["domReady", "slideShow", "stuff"], function(domReady, SlideShow, stuff){
            var qwe=new SlideShow();
            qwe.init();
            qwe.start();
            var qdwe=new SlideShow({img:[{src:"http://7themes.su/_ph/40/806761392.jpg", description:"The Hobbit"},{src:"http://7themes.su/_ph/40/109111701.jpg", description:"Мстители: Эра Альтрона"}],delay:3000, order:"rtl", type:"slide", el:document.querySelector('.first')});
            qdwe.start();
            var qswe=new SlideShow({delay:5000, order:"rdm", type:"crossfade", el:document.querySelector('.second')});
            qswe.start();
            qswe.start();
            var qfwe=new SlideShow({type:"crossfade", el:document.querySelector('.third'), delay:2000});
            qfwe.start();

//            var obj = new stuff(document.querySelector('[class="sidebar"]'));
        })
    </script>
</head>
<body>
<div class="panel main-page">
    <div class="panel-body text-center">
        <div class="btn-group" role="group" aria-label="...">
            <a type="button" href="/shopping_cart" class="btn btn-default btn-lg"><%= __("Shopping Cart") %></a>
            <a type="button" href="/dragtest" class="btn btn-default btn-lg"><%= __("Drag & Drop") %></a>
            <a type="button" href="/nwcurrency" class="btn btn-default btn-lg"><%= __("Game Currency") %></a>
            <a type="button" href="/routertest" class="btn btn-default btn-lg"><%= __("Marionette Router") %></a>
        </div>
        <p></p>
        <div class="container">
            <div class="first" style="width:300px; height: 200px; margin: 0 auto;"></div>
            <div class="second" style="width:300px; height: 200px; margin: 0 auto;"></div>
            <div class="third" style="width:300px; height: 200px; margin: 0 auto;"></div>

        </div>
    </div>
    <div class="panel-footer text-center">
        <span style="display: inline-block; padding: 10px">&#x000A9; 2015 - <%= __("Continent") %></span>
        <div class="btn-group">
        <a class="btn btn-primary"  href="?lang=en">en</a>
        <a class="btn btn-primary"  href="?lang=uk">uk</a>
        <a class="btn btn-primary"  href="?lang=ru">ru</a>
        </div>

    </div>
</div>
</body>
</html>
